*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.white-txt{
    color: white;
    font-size: 14pt;
}

.black-txt{
    text-align: center;
    color: #979797;
    font-size: 14pt;
}

h1{
    font-size: 36pt;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

h2{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

h4{
    font-size: 30pt;
    font-weight: bold;
    color: #767676;
    margin-bottom: 10px;
}

strong{
    color: #5dadd3;
}

#webagency{
    color: #5dadd3;
    font-size: 28pt;
    font-weight: bold;
}

input[type="button"]{
    background-color: #5dadd3;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    border: none;
    font-size: 14pt;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

input[type="button"]:hover{
    box-shadow: -1px -1px 5px rgb(59, 59, 59);
}


/*MENU*/

menu{
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}

li a{
    display: block;
    line-height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #979797;
}

li a:hover{
    border-top: 3px #5dadd3 solid;
}

.logo{
    line-height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 60px;
    height: 60px;
}

/*SLIDER*/

#slider{
    width: 100%;
}

#slide1{
    position: relative;
}

#slide2{
    position: absolute;
}

#slider img{
    width: 100%;
}

.txt-slide{
    position: absolute;
    margin: 5% auto auto 100px;
    width: 50%;
}

.txt-slide p{
    margin-top: 20px;
    margin-bottom: 20px;
}


/*SERVICES*/

#services{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-service{
    display: flex;
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#mockup{
    flex: 1;
}

#liste-services{
    flex: 1;
    padding-top: 100px;
}

.description{
    text-align: left;
}

.service{
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin-top: 20px;
    align-items: center;
}

    @media screen and (max-width:1730px){
            
        #mockup img{
            width: 600px;
        }

    }

    @media screen and (max-width:1350px){
            
        .container-service{
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin-top: 50px;
        }

    }


/*PROJETS*/

#projets{
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 100px;
}

.nav-projets{
    display: block;
    height: 60px;
    width: fit-content;
    background-color: #e5e5e5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nav-projets li{
    display: block;
    padding: 20px;
}

.nav-projets li:hover{
    background-color: #5dadd3;
    color: white;
}

.grid-projets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 20px;
}

    @media screen and (max-width:1350px){
        
        .grid-projets{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            width: fit-content;
            row-gap: 20px;
            column-gap: 20px;
        }

    }


.projet img{
    height: 200px;
    position: relative;
}

.projet{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hover{
    position: absolute;
    top: 160px;
    width: 100%;
    height: 40px;
    background-color: #7f5640;
    padding-left: 10px;
    padding-top: 7px;
    display: none;
}

.hover p{
    font-size: 8pt;
}

.hover img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.projet img:hover + .hover{
    display: block;
}

/*CONTACT ET LOCALISATION*/

#contact{
    height: 600px;
    background-color: #9dcfe6;
}

#formulaire{
    position: relative;
    width: 500px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.845);
    margin-left: auto;
    margin-right: 5%;
    bottom: 604px;
    padding: 30px;
}

#formulaire p{
    text-align: left;
    color:#767676;
}

form{
    margin-top: 20px;
}

.form input{
    width: 440px;
    height: 40px;
    margin-bottom: 20px;
    border: #979797 1px solid;
}

textarea{
    resize: none;
    width: 440px;
    margin-bottom: 30px;
    border: #979797 1px solid;
}

::placeholder{
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    color: rgb(196, 196, 196);
}



/*FOOTER*/

footer{
    background-color: white;
    height: 100px;
}

#footer{
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}